* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

/* navbar */
.navbar {
    padding: 0px 70px;
    width: 100%;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
}

.navbar div {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .navleft a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    font-family: "noto sans Arbic", sans-serif;
}

.navbar .navright i {
    margin: 0px 5px;
    font-size: 13;
}

.navbar a:hover {
    background-color: rgb(135, 135, 135);
}

.navright a img {
    width: 70%px;
    height: 40px;
    padding: 5px;
}

/* end nav */
/* start main */
main {
    height: 100vh;
    background-image: url("https://khamsat.hsoubcdn.com/assets/images/hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "noto sans Arbic", sans-serif;
    text-align: center;
}

main h3,
.search h3 {
    font-size: 35px;
}

main p {
    font-size: 20px;
    margin: 20px 0px;
}

main .search {
    position: relative;
}

main input {
    width: 650px;
    height: 65px;
    padding: 5px 15px;
    border: none !important;
    outline: none !important;
    font-size: 20px;
}

main button {
    width: 80px;
    height: 80%;
    border: none !important;
    font-size: 18px;
    color: white;
    background-color: rgb(103, 152, 30);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

/* end main */
/* start sections */

.services {
    min-height: 100vh;
    padding: 50px;
    width: 100%;
}

.services .head {
    text-align: center;
    font-size: 26px;
    font-family: "noto sans Arbic", sans-serif;
}

.partone,
.parttwo {
    display: flex;
    height: 250px;
}

section .imgs {
    width: 100%;
    height: 100%;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .imgs img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.partone,
.parttwo {
    margin-top: 30px;
    padding: 20px;
}

.imgs p {
    color: white;
    font-size: 3em;
}

div .all {

    padding: 20px;
    background-color: rgba(126, 125, 125, 0.1);
}

.all .hea {

    display: flex;
    justify-content: space-between;
}

.all .hea h3 {
    font-size: 25px;
    margin-right: 60px;
}

.all .hea button {
    padding: 10px;
    margin-left: 60px;
}

.all .hea button a {
    text-decoration: none;
    color: green;
}

.all .review {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}

.all .review a {
    padding-top: 10px;
    display: block;
    text-decoration: none;
}

.all .review a:hover {
    color: green;
}

.all .review i {
    padding-top: 8px;
}

.all .review p {
    font-size: 1em;
    padding-top: 8px;
}

.links {
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.links .list h2 {
    font-size: 1.6em;
    padding: 20px;
}

.links .list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: green;
    font-size: 17px;
}

.links .list i {
    padding: 5px;
}

.links .list p {
    padding: 15px;
}


.smalll {
    display: flex;
    width: 97%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(126, 125, 125, 0.1);
}

.smalll div a {
    color: black;
    margin-top: 20px;
    text-decoration: none;
    padding: 50px;
    font-size: 1.2em;
}

.smalll div p {
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.341);
}

.hasub img {
    margin-top: 50px;
    width: 200px;
    margin-left: 45%;
}

.finally {
    background-color: white;

}

.finally .poo {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
    justify-content: space-between;
}

.finally .poo a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.finally .poo p {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.538);
    font-size: small;
}

.finally .moo {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    margin-right: 100px;
    margin-left: 200px;

}

.finally .moo a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding-right: 100px;
}

.finally .moo p {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.538);
    font-size: small;
    padding-right: 100px;
}